.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.empty:empty {
  display: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}