.main {
  position: relative;

  &--scroll {
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 50px;
    }

    &:before {
      top: 0;
      background-image: linear-gradient(to bottom, var(--bodyBg), transparent);
    }

    &:after {
      bottom: 72px;
      background-image: linear-gradient(to top, var(--bodyBg), transparent);
    }
  }

  .items_list_wrapper {
    @include hideScrollBar;
    max-height: 300px;
    overflow: auto;
    padding: 12px;
    border-radius: 16px;
    background-color: #666972;
  }
}