body {
  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
  padding: 20px 8px;
  margin-bottom: 48px;
  display: flex;
  justify-content: flex-end;
}

main {
  max-width: 600px;
  margin: auto;
}

::placeholder {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}