.btn-filter {
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  cursor: pointer;
  color: #fff;
  transition-property: color, background-color;
  transition-delay: 10ms;
  transition-timing-function: ease-out;
  transition-duration: 120ms;
  text-transform: capitalize;
  &:not(:last-child) {
    margin-right: 1px;
  }
  &:hover,
  &-active {
    background-color: #666972;
  }
}