.footer_wrapper {
  width: 100%;
  height: 60px;
  font-size: 16px;
  outline: 0;
  border-radius: 16px;
  margin-top: 12px;
  position: relative;

  .items_count_wrapper {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 12px;
  }

  .footer_btn_wrapper {
    height: 36px;
    overflow: hidden;
    border-radius: 18px;
    background-color: #35333D;
  }
}


