.toggle_all_wrapper {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;

  .input-toggle_all {
    opacity: 0;
    position: absolute;
  }

  .label-toggle_all {
    font-size: 28px;
    cursor: pointer;
    color: #333;
    opacity: 0.2;
    transition-property: opacity, border-color;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    position: relative;
    &:checked + .label-toggle_all {
      opacity: 1;
    }
  }
}



