@font-face {
  font-family: 'iconFont';
  src:  url('fonts/iconFont.eot?oar6ni');
  src:  url('fonts/iconFont.eot?oar6ni#iefix') format('embedded-opentype'),
    url('fonts/iconFont.ttf?oar6ni') format('truetype'),
    url('fonts/iconFont.woff?oar6ni') format('woff'),
    url('fonts/iconFont.svg?oar6ni#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lv_icon--"], [class*=" lv_icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.lv_icon--cancel:before {
  content: "\e918";
}
.lv_icon--checked:before {
  content: "\e909";
}
.lv_icon--unchecked:before {
  content: "\e90a";
}
.lv_icon--arrow:before {
  content: "\e908";
}
